:root{
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Nunito Sans', sans-serif;

    --primary-bg-color: #252525;
    --secondary-bg-color: rgb(25,25,25);

    --primary-text-color: #dadada;
    --secondary-text-color: #959787;

    --primary-btn-color: #3586bc;

    --icon-color: #7689a6;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
}


.flash-message {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: var(--primary-btn-color);
    color: var(--primary-text-color);
    font-size: 1.2rem;
    text-align: center;
    z-index: 1000;
    border-radius: 14px;

    transition: all .5s ease-in-out;

    &.hidden {
        transition: all 1s ease-in-out;
        transform: translateY(-200%);
        opacity: 0;
        
    }

    &.visible {
        transform: translateY(0);
        opacity: 1;
    }

    &.success {
        background-color: #4c7caf;
    }

    &.error {
        background-color: #f44336;
    }

    &.warning {
        background-color: #ff9800;
    }

    &.info {
        background-color: #2196f3;
    }
}




section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    max-width: 1000px;

    padding: 2rem 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: 0 1rem;
}

.btn {
    padding: .5rem 1rem;
    text-align: center;
    align-items: center;
    transition: all .1s ease-in-out;
    border-radius: 14px;
    border: 3px solid var(--primary-btn-color);
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

}

.btn-primary {
    background-color: var(--primary-btn-color);
    color: var(--primary-text-color);
    font-size: 1.05rem;
    

}

.btn-secondary {
    background-color: transparent;
    color: var(--primary-btn-color);

    &:hover {
        background-color: (var(--primary-btn-color));
        color: var(--primary-text-color);
    }
}


.social-media-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    .social-media-btn {
        font-size: 2rem;
        border-radius: 50%;
        color: var(--icon-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .1s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        @media screen and (max-width: 768px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width: 480px) {
            font-size: 1.2rem;
        }
        
    }
}