.recent-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.description {


}

.project-title {
    justify-content: center;
}

.video-and-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.video-player {
    position: relative; // Add relative positioning here
    width: 100%; // Full width of the parent
    max-width: 640px; // Max width of the video player
    margin: auto; // Center the video player if it's smaller than the parent

    // Maintain the aspect ratio of the video (16:9 in this example)
    &:before {
        content: '';
        display: block;
        padding-top: 56.25%; // 16:9 Aspect Ratio
    }

    .react-player {
        position: absolute;
        top: 0;
        left: 0;
    }
}
