footer {
  background-color: var((--secondary-bg-color));
  width: 100vw;


  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 5vh;



  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .right {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .navigation-links,
      .contact-info,
      .social-links {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          list-style: none;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex: row;
    justify-content: space-between;
    background-color: var(--primary-bg-color);
    padding: 1rem 2rem;
    color: var(--secondary-text-color);

  }
}
}
