.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid var(--primary-text-color);
  padding: 5rem;
  border-radius: 14px;
  background-color: var(--secondary-bg-color);
  max-width: 80vw;

  @media screen and (max-width: 768px) {
    padding: 2rem;
  }
  
}

.contact-form-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--primary-text-color);

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }

  @media screen and (max-width: 480px) {
    font-size: 18px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 80vw;

  .input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  label {
    width: 100%;
    font-size: 16px;
    color: #999999;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }

    @media screen and (max-width: 480px) {
      font-size: 12px;
    }
  }

  input[type="text"],
  textarea {
    display: flex;
    padding: 11px 25px;
    align-items: flex-start;
    background-color: #dae2ea;
    border: 3px solid #a0a5ab;
    border-radius: 14px;
    box-sizing: border-box;
    width: 100%;

    @media screen and (max-width: 768px) {
      padding: 10px 20px;
    }

    @media screen and (max-width: 480px) {
      padding: 9px 15px;
    }

    &:focus {
      border-color: #a7802c;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      outline: none;
    }
  }

  textarea {
    height: 100px;
    resize: vertical;
  }

  .submit-and-social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

  }

}
