.name-title-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
    
}

.name-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem;

    @media screen and (min-width: 768px) {
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
    

    .name-title {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: flex-start;

        

        .pre-name {
           
        }

        .name {
            font-size: 5rem;

            @media screen and (max-width: 768px) {
                font-size: 3rem;
            }
        }

        .one-line {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items:baseline;
            gap: 1rem;

            .pre-title {
                
            }

            .title {
                font-size: 3rem;
                color: var(--icon-color);

                @media screen and (max-width: 768px) {
                    font-size: 2rem;
                }
            }
        }

        .tag-line {
            margin-top: 1rem;
            
        }
    }
}


